@font-face {
    font-family: 'Tamzen';
    src: url('https://glint.moe/tamzen.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    color: #aeb4be;
    font-family: 'Tamzen';
    background-color: #1E1E1E;
    font-size: 24px;
    padding-top: 50px;
    width: 60%;
    margin: auto;
}
h2 {
    color: #D9E0EE;
    border-bottom: 1px solid #D9E0EE;
}

h3 {
    color: #D9E0EE;
}

.title {
    text-align: center;
    font-size: 40px;
}

.subtitle {
    text-align: center;
    font-size: 25px;
}

.pfp {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 10%;
    width: 10%;
}

a {
    color: #8aacab;
}
