@font-face {
    font-family: 'Tamzen';
    src: url('tamzen.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    color: #aeb4be;
    font-family: 'Tamzen';
    background-color: #1E1E1E;
    font-size: 24px;
    padding-top: 30px;
    width: 60%;
    margin: auto;
}

@media only screen and (max-width: 800px) {
    body {
      width: 90%;
    }
}

img {
    vertical-align: middle;
    transition: transform 1.5s ease-in-out;
}

img:hover {
    transform: rotate(720deg);
  }

h2 {
    color: #D9E0EE;
    border-bottom: 1px solid #D9E0EE;
}

h3 {
    color: #D9E0EE;
}

a {
    color: #8aacab;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}