@font-face {
    font-family: 'Tamzen';
    src: url('assets/Tamzen8x16r.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tamzen';
    src: url('assets/Tamzen10x20b.ttf');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    color: #aeb4be;
    font-family: 'Tamzen';
    background-color: #1E1E1E;
    font-size: 16px;
    padding-top: 30px;
    width: 60%;
    margin: auto;
}

@media only screen and (max-width: 800px) {
    body {
      width: 80%;
    }
    nav {
        text-align: center;
    }
}

/* text */

h2 {
    font-size: 40px;
    color: #D9E0EE;
    border-bottom: 1px solid #D9E0EE;
}

h3 {
  font-size: 20px;  
  color: #D9E0EE;
}

a {
    color: #8aacab;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* images & buttons */
img.icon {
  transition: transform 1.5s ease-in-out; 
}

img.icon:hover {
  transform: rotate(720deg);
}

.button {
  display: block;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 31;
  width: 50%;

}
